[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.2"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "powershell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-pc-windows-msvc"]
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether to install an updater program
install-updater = true
# Which actions to run on pull requests
pr-run-mode = "skip"

[dist.github-custom-runners]
global = "ubicloud-standard-30-ubuntu-2204"
x86_64-apple-darwin = "macos-15-large"
aarch64-apple-darwin = "macos-15-xlarge"
x86_64-pc-windows-msvc = "windows-large"
x86_64-unknown-linux-gnu = "ubicloud-standard-30-ubuntu-2204"

[[dist.extra-artifacts]]
build = ["sh", "-c", "rustup target add wasm32-wasip2 && cargo build -p pcb-zen-wasm --bin pcb-zen-wasi --target wasm32-wasip2 --release"]
artifacts = ["target/wasm32-wasip2/release/pcb-zen-wasi.wasm"]
