[workspace]
repository = "{{ repository }}"
pcb-version = "{{ pcb_version }}"
members = [
    "components/*",
    "modules/*",
    "reference/*",
    "boards/*",
]
vendor = ["github.com/diodeinc/registry/**"]
