[package]
name = "pcb"
version = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
description = "next-gen tooling for pcb design"
homepage = { workspace = true }
authors = { workspace = true }
default-run = "pcb"

[features]
default = ["api"]
api = ["dep:pcb-diode-api"]

[package.metadata.wix]
upgrade-guid = "8F8B3FF2-0D55-454F-B80D-1E216FCA6C42"
path-guid = "019D9AC1-AFB6-4D44-9FE5-F7BCA676A7DF"
license = false
eula = false

[[bin]]
name = "pcb"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
base64 = { workspace = true }
blake3 = { workspace = true }
clap = { workspace = true }
pcb-zen-core = { workspace = true, features = ["table"] }
pcb-zen = { workspace = true }
pcb-sch = { workspace = true, features = ["table"] }
pcb-layout = { workspace = true }
pcb-sim = { workspace = true }
pcb-diode-api = { workspace = true, optional = true }
pcb-mcp = { workspace = true }
pcb-ipc2581-tools = { workspace = true, features = ["api"] }
pcb-eda = { workspace = true }
log = { workspace = true }
dirs = { workspace = true }
ariadne = { workspace = true }
env_logger = { workspace = true }
colored = { workspace = true }
pcb-kicad = { workspace = true }
open = { workspace = true }
inquire = { workspace = true }
pcb-ui = { workspace = true }
pcb-fmt = { workspace = true }
pathdiff = { workspace = true }
starlark = { workspace = true }
starlark_syntax = { workspace = true }
comfy-table = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
walkdir = { workspace = true }
zip = { workspace = true }
chrono = { workspace = true }
dir-diff = { workspace = true }
tempfile = { workspace = true }
ignore = { workspace = true }
semver = { workspace = true }
crossterm = { workspace = true }
terminal_size = { workspace = true }
unicode-width = { workspace = true }
indicatif = { workspace = true }
gltfpack-sys = { workspace = true }
axoupdater = { workspace = true }

[dev-dependencies]
insta = { workspace = true }
tempfile = { workspace = true }
assert_cmd = { workspace = true }
assert_fs = { workspace = true }
duct = { workspace = true }
pcb-test-utils = { workspace = true }
itertools = { workspace = true }
