name: Publish to npm

on:
  push:
    tags:
      - '**[0-9]+.[0-9]+.[0-9]+*'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jetli/wasm-pack-action@v0.4.0
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - name: Build WASM bundle
        run: ./bin/build-wasm-bundle.sh
      - name: Publish to npm
        run: |
          if [[ "${{ github.ref_name }}" == *-* ]]; then
            npm publish --access public --tag next --provenance
          else
            npm publish --access public --provenance
          fi
        working-directory: target/wasm-bundle
